##********************************************************************************************                                                        
##	  ______                                __                ________  __       __ 
##	 /      \                              |  \              |        \|  \     /  \
##	|  $$$$$$\  ______   ______    _______ | $$____          | $$$$$$$$| $$\   /  $$
##	| $$__| $$ /      \ |      \  /       \| $$    \  ______ | $$__    | $$$\ /  $$$
##	| $$    $$|  $$$$$$\ \$$$$$$\|  $$$$$$$| $$$$$$$\|      \| $$  \   | $$$$\  $$$$
##	| $$$$$$$$| $$   \$$/      $$ \$$    \ | $$  | $$ \$$$$$$| $$$$$   | $$\$$ $$ $$
##	| $$  | $$| $$     |  $$$$$$$ _\$$$$$$\| $$  | $$        | $$_____ | $$ \$$$| $$
##	| $$  | $$| $$      \$$    $$|       $$| $$  | $$        | $$     \| $$  \$ | $$
##	 \$$   \$$ \$$       \$$$$$$$ \$$$$$$$  \$$   \$$         \$$$$$$$$ \$$      \$$
##	                                                                                
##	                                                                                
##	                        
##********************************************************************************************
##---------------------------------------------------------------------
## PCI interface
##---------------------------------------------------------------------
NET	"AD<31>"	LOC = "P116"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<30>"	LOC = "P117"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<29>"	LOC = "P118"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<28>"	LOC = "P119"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<27>"	LOC = "P120"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<26>"	LOC = "P121"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<25>"	LOC = "P124"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<24>"	LOC = "P126"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<23>"	LOC = "P132"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<22>"	LOC = "P133"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<21>"	LOC = "P134"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<20>"	LOC = "P137"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<19>"	LOC = "P138"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<18>"	LOC = "P139"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<17>"	LOC = "P140"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<16>"	LOC = "P141"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<15>"	LOC = "P10"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<14>"	LOC = "P11"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<13>"	LOC = "P12"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<12>"	LOC = "P14"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<11>"	LOC = "P15"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<10>"	LOC = "P16"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<9>"		LOC = "P17"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<8>"		LOC = "P21"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<7>"		LOC = "P23"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<6>"		LOC = "P24"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<5>"		LOC = "P26"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<4>"		LOC = "P27"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<3>"		LOC = "P29"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<2>"		LOC = "P30"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<1>"		LOC = "P32"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<0>"		LOC = "P33"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET	"NCBE<3>"	LOC = "P127"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<2>"	LOC = "P142"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<1>"	LOC = "P9"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<0>"	LOC = "P22"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"PAR"		LOC = "P8"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET	"NFRAME"	LOC = "P143"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NDEVSEL"	LOC = "P2"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NIRDY"		LOC = "P144"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NTRDY"		LOC = "P1"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NSTOP"		LOC = "P5"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"IDSEL"		LOC = "P131"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET	"NPERR"		LOC = "P6"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NSERR"		LOC = "P7"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET	"NREQ"		LOC = "P115"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"PCLK"		LOC = "P123"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NRST"		LOC = "P112"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NINTA"		LOC = "P111"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12 | PULLUP;
NET	"XCLK"		LOC = "P56"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NLOCK"		LOC = "P67"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NINIT"		LOC = "P66"		| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET "PCLK" 		TNM_NET = "PCLK";
TIMESPEC 		"TS_PCLK" = PERIOD "PCLK" 30 ns HIGH 50 %;
NET "XCLK" 		TNM_NET = "XCLK";
TIMESPEC 		"TS_XCLK" = PERIOD "XCLK" 41 ns HIGH 50 %;
NET 			"PCLK" TNM_NET = "async_low";	
TIMESPEC 		"TSLowToMed" = FROM "async_low" to "async_med" TIG;
TIMESPEC 		"TSMedtoLow" = FROM "async_med" to "async_low" TIG;

NET	"pci_prsnt_o" 			LOC = P101	| IOSTANDARD = LVCMOS33 ;
NET	"pci_bus_en_o" 			LOC = P102	| IOSTANDARD = LVCMOS33 ;

##---------------------------------------------------------------------
## GPIO / LED / UART
##---------------------------------------------------------------------
NET	"LEDS<0>"	LOC = "P43"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"LEDS<1>"	LOC = "P41"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"LEDS<2>"	LOC = "P40"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"UART_TX" 	LOC = P104	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;	
NET	"UART_RX" 	LOC = P105	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;	
NET	"GPIO<0>" 	LOC = P50	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;	
NET	"GPIO<1>" 	LOC = P48	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;		
NET	"GPIO<2>" 	LOC = P47	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"GPIO<3>" 	LOC = P46	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;			

##---------------------------------------------------------------------
## GPIO / LED / UART
##---------------------------------------------------------------------
NET	"I2C_SCL" 	LOC = P45	| IOSTANDARD=I2C;	
NET	"I2C_SDA" 	LOC = P44	| IOSTANDARD=I2C;	